
.inline-block{
display: inline-block;
vertical-align: top;
}

.h1 {
font-family: helvetica, arial, sans-serif;
}

.logo{
background: white;
height: 100px;
width: 110px;
background-image: url("../HW-17/images/logo.png");
background-repeat: no-repeat;
background-position: left;
}

/*width: 23%;
padding: 1%;
text-align: center;
}
*/

.nav{
width: 73%;
padding: 1%;
display: inline-block;
background-color:black;
color: white;
font-size: small;
padding: 8px;
}

.ul{
width: 50%;
margin-left: auto;
background-color: orange;
}

.hero{
height: 600px;
padding: 25px;
background-color: skyblue;
}

.content{
width: 500px;
margin: 0 auto;
}

.hero-img{
background-image: url("../HW-17/images/gradient1.jpg");
}

.footer{
background color: #373738;
}


.li{
background-color:black;
padding: 4px;
}
